/* Top Bar */
.top-bar {
    width: 100%;
    background-color: #143f7e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 20px;*/
}

.top-bar h1 {
    flex-grow: 1;
    font-size: 1.5em;
    color: #ffffff;
    margin-left: 20px;
}

.top-bar img {
    width: 20%;
    height: 20%;
    /*border-radius: 50%;*/
    margin-left: 15px;
    cursor: pointer;
}
#icon {
    width: 2.5%;
    height: 2.5%;
    margin-right: 15px;
}

.top-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Device Box */
.vulner-box {
    width: 100%;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    color: inherit;
    text-align: left;
    padding: 20px;ø
}

.vulners-container {
    justify-self: center;
    width: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
 
}

.vulners-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.vulner-id {
    font-weight: bold;
    font-size: 1.1em;
}

.vulner-description {
    color: #555;
    font-size: 0.9em;
}

.vulner-lastModified {
    font-size: 1.1em;
    color: grey;
}

.vulner-status {
    font-size: 1.1em;
    color: grey;
}
